{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}

{% block body_class %}forgot-password-page{% endblock %}

{% block content %}
<div class="forgot-password-page">
    <div class="forgot-password-wrapper">
        <h2>Forgot Password</h2>
        <form method="POST" class="inputs">
            <input type="email" name="email" placeholder="Enter your registered email" required>
            <button type="submit">Send Reset Link</button>
        </form>
        <p><a href="{{ url_for('auth.login') }}">← Back to Login</a></p>
    </div>
</div>
{% endblock %}
